<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samoylov.lab4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MyActivity" android:label="@string/app_name" android:theme="@style/AppTheme"
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize"/>
        <receiver    android:name="ReminderBroadcast"
            />
    <receiver
        android:name="com.samoylov.lab4.Widget"

        android:screenOrientation="portrait">

        <intent-filter>
            <action
                android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        </intent-filter>
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/widget">
        </meta-data>
    </receiver>
    </application>
</manifest>
